.meal {
  display: flex;
  align-items: center;
  padding: 1rem;

  .date-picker {
    margin-left: auto;
  }

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }
}

.meal__subtext {
  color: #999;
}
